.section {
    padding-top: 0%;
    padding-bottom: 10%; 
    margin-left: 37%;
    display : flex;  
    flex-direction: column;  
    justify-content: flex-start;
    color:white; 
    width : 28%;
    }    

    .form {
        padding-top: 10%;
        padding-bottom: 10%; 
        display : flex;  
        flex-direction: column; 
        justify-content: space-evenly; 
        color:white; 
        }

.input {
        border: none;
        border-bottom: 1px solid #dddddd; 
        color : black; 
        margin: 6px 0;
        padding: 10px 0px;
        text-indent: 1em;
        }

.label {
        margin: 8px 0;
        padding-top: 12px;
        color: black;
        font-weight: bolder;
       
        
}